.modal, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay{
    background-color: rgba(143, 143, 130, 0.8);
}

.modalContent{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-color: #f1f1f1;
    padding: 14px 28px;
    border-radius: 5px;
    max-width: 600px;
    min-width: 300px;
    color: rgb(13, 165, 170);
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}

.btnYes, .btnNo{
    font-size: 15px;
    font-weight: bolder;
    border: none;
    margin: 15px;
}